.infoBar {
  width: 100%;
  color: #3c5a83;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  align-items: center;
}

.content {
  padding-block: 0.5rem;
  align-items: center;
  display: flex;
  gap: 1rem;
}

.divider {
  border-bottom: 1px dashed #3c5a83;
  width: 500px;
}