.card {
  height: 200px;
  border-radius: 1rem;
}

.clickable,
.selected {
  cursor: pointer;
  rotate: 0deg;
  transition: all 0.2s ease;
}

.clickable {
  animation: reset 0.5s linear;

  &:hover {
    filter: brightness(1.1);
  }
}

@keyframes reset {
  100% {
    rotate: 0deg;
  }
}

.selected {
  filter: brightness(1.1);
  animation: shake 2s infinite linear;

  &:hover {
    filter: brightness(1.1);
  }
}

@keyframes shake {
  25% {
    rotate: 5deg;
  }

  75% {
    rotate: -5deg;
  }
}

.smallCard {
  height: 150px;
}
