@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Bodoni+Moda&family=Playfair+Display&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: Merriweather;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bold-text {
  font-weight: bold;
}

.clickable {
  stroke: red;
  stroke-width: 10;
  fill: transparent;
  stroke-dasharray: 20 40;
  stroke-linecap: round;
  animation: diamond-rotate 2s infinite linear;
  transition: all 0.2s ease;

  &:hover {
    stroke-width: 15;
    cursor: pointer;
  }
}

@keyframes diamond-rotate {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 60;
  }
}
